.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

html {
    background: url('ui/background.png') center center / cover no-repeat fixed;
}

.stage-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    justify-content: center;
    margin-top: 48px;
}

.stage-btn {
    width: 220px;
    height: 120px;
    background: url('ui/button.png') center center / cover no-repeat;
    cursor: pointer;
    font-size: 28px;
    color: #7b540c;
    font-weight: bold;
    border: none;
}

.stage-btn:hover {

}